# MetaTF 2.19 - Python 3.10 to 3.12 required
# See: https://doc.brainchipinc.com/ for the latest supported versions
tf-keras==2.19
akida==2.19.1
cnn2snn==2.19.1
akida-models==1.13.1
numpy
matplotlib
Pillow
flask
flask-socketio
psutil
